<div class="container bg">
    <div class="row" ng-controller="languageCtrl">
        <div class="col-lg-4" ng-repeat="item in marketing">
            <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                <img class="card-img-top" src="{{item.img}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <p class="card-text">{{item.author}}</p>
                </div>
            </div>
        </div>
    </div>
</div>