<div class="container" ng-controller="languageCtrl">
    <div class="row text-uppercase">Featured course</div>
    <div class="row mb-2">
        <div class="col-lg-4" ng-repeat="item in healthy">
            <div class="card">
                <img src={{item.img}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div> 